{% extends 'flatpages/default.html' %}

{% block title%}
Профиль пользователя
{% endblock title %}}

{% block content %}
<div class = "container mt-5 d-flex justify-content-center">
    <div>
<h4>Страница авторизованного пользователя <br>
    {{user.username}} </h4>
        <a href = "{% url 'account_logout' %}" class = "btn btn-success" >Выйти</a>
        <br>
        {% if not is_author %}
        <a href = "{% url 'be_author' %}" class = "btn btn-outline-danger mt-2">Стать автором</a>
        {% else %}
        <a href = "{% url 'news_create' %}" class = "btn btn-outline-primary mt-2">Добавить новость</a>
        <a href = "{% url 'articles_create' %}" class = "btn btn-outline-primary mt-2">Добавить статью</a>
        {% endif %}
</div>

</div>
{% endblock content %}